<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Hibernate JDBC Properties START -->
        <property name="connection.url">jdbc:mysql://localhost:3306/linksharing
        </property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">tanuj</property>
        <!-- Hibernate JDBC Properties END -->

        <!-- Hibernate configuration properties START -->
        <property name="show_sql">false</property>
        <!--<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>-->
        <property name="hbm2ddl.auto">update</property>
        <!-- Hibernate configuration properties END-->

        <!--Annotated entity class-->
        <mapping class="com.entities.User"/>
        <mapping class="com.entities.Topic"/>
        <mapping class="com.entities.Subscription"/>
    </session-factory>
</hibernate-configuration>